In [2]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin
from time import sleep
import concurrent.futures
import csv

In [1]:

# 外資
companies = [
    "アクセンチュア",
    "プライスウォーターハウスクーパース（PwC）",
    "EYストラテジー・アンド・コンサルティング",
    "デロイトトーマツコンサルティング（DTC）",
    "KPMGコンサルティング",
    "マッキンゼー・アンド・カンパニー",
    "ボストン・コンサルティング・グループ（BCG）",
    "ベイン・アンド・カンパニー",
    "Strategy&",
    "A.T. カーニー",
    "ローランド・ベルガー（RB）",
    "アーサー・ディー・リトル（ADL）",
    "マーサージャパン",
    "ゴールドマン・サックス",
    "J.P.モルガン",
    "モルガン・スタンレー",
    "バークレイズ",
    "シティグループ",
    "BNPパリバ",
    "アフラック生命保険",
    "AIGジャパン・ホールディングス",
    "メットライフ生命保険",
    "プルデンシャル生命保険",
    "チューリッヒ保険",
    "マニュライフ生命保険",
    "エヌエヌ生命保険",
    "中外製薬",
    "ジョンソン・エンド・ジョンソン",
    "アストラゼネカ",
    "ファイザー",
    "サノフィ",
    "ノバルティスファーマ",
    "イーライリリー",
    "ノボ ノルディスク ファーマ",
    "バイエル",
    "MSD製薬",
    "コカ・コーラ・ボトラーズ・ジャパン",
    "GEジャパン",
    "ロクシタンジャポン",
    "ネスレ日本",
    "ユニリーバ・ジャパン",
    "ルイ・ヴィトンジャパン",
    "ABBジャパン",
    "ブリティッシュ・アメリカン・タバコ・ジャパン",
    "ダウ・ケミカル日本",
    "デュポン",
    "プロクター・アンド・ギャンブル・ジャパン（P&G）",
    "BASFジャパン",
    "Dole",
    "日本ロレアル",
    "Google",
    "Apple Japan",
    "Facebook Japan",
    "日本マイクロソフト",
    "アマゾンジャパン",
    "LINE",
    "セールスフォース・ドットコム",
    "日本IBM",
    "日本オラクル",
    "ブルームバーグ・エル・ピー",
    "日本ヒューレット・パッカード",
    "シスコシステムズ"
]

In [3]:
# スクレイピングの結果を格納するための辞書
results = {}

# スクレイピング関数
def fetch_company_data(search_term):
    search_url = 'https://en-hyouban.com/search/'
    params = {'SearchWords': search_term}
    response = requests.get(search_url, params=params)
    if response.ok:
        return response.text
    return None

def find_company_profile_page(html_content, company_name):
    soup = BeautifulSoup(html_content, 'html.parser')
    for a in soup.select('a'):
        if company_name in a.text:
            return urljoin('https://en-hyouban.com', a['href'])
    return None

def fetch_company_profile_page(url):
    response = requests.get(url)
    if response.ok:
        return response.text
    return None

def parse_company_profile_page(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    salary = soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(1)').get_text(strip=True) if soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(1)') else '情報なし'
    overtime = soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(2)').get_text(strip=True) if soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(2)') else '情報なし'
    return {
        'salary': salary,
        'overtime': overtime
    }


def parse_company_profile_page(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    salary = soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(1)').get_text(strip=True) if soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(1)') else '情報なし'
    
    # 使用する警告を修正: 'text' -> 'string'
    overtime_section = soup.find('div', string=lambda t: t and '残業時間' in t)
    if overtime_section:
        overtime = overtime_section.find_next('span', class_='font-change-30').get_text(strip=True) if overtime_section.find_next('span', class_='font-change-30') else '情報なし'
    else:
        overtime = '情報なし'

    return {
        'salary': salary,
        'overtime': overtime
    }


def parse_company_profile_page(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    salary = soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(1)').get_text(strip=True) if soup.select_one('.fsize-40.font-change-30.font-roboto.font-weight-bold:nth-of-type(1)') else '情報なし'
    
    # 残業時間情報を含むセクションを探す
    overtime_section = soup.find('div', class_='col-6 px-0 text-center pt-1')
    if overtime_section:
        # 残業時間の値を含むspan要素を探す
        overtime_span = overtime_section.find('span', class_='font-change-30')
        overtime = overtime_span.get_text(strip=True) if overtime_span else '情報なし'
    else:
        overtime = '情報なし'

    return {
        'salary': salary,
        'overtime': overtime
    }

In [4]:
def fetch_salary_details(company_id):
    details_url = f'https://en-hyouban.com/company/{company_id}/salary/'
    response = requests.get(details_url)
    if response.ok:
        return response.text
    return None

def parse_salary_details(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    salary_details = {}
    rows = soup.select('#salary_information_by_age tr')
    for row in rows:
        age_group = row.select_one('.job-type')
        if age_group:
            age_text = age_group.get_text(strip=True)
            # Replace '以上' with '_up' and other age ranges with '_' for consistency
            age_key = age_text.replace('~', '_').replace('歳', '').replace('以上', '_up')
            salary_key = f'salary_{age_key}'  # Create a key like 'salary_25_29'
            salary_value = row.select_one('.salary-font-size').get_text(strip=True) if row.select_one('.salary-font-size') else '情報なし'
            salary_details[salary_key] = salary_value
    return salary_details




def fetch_and_parse_company_data(company):
    search_page_content = fetch_company_data(company)
    if search_page_content:
        profile_page_url = find_company_profile_page(search_page_content, company)
        if profile_page_url:
            sleep(1)  # URLを見つけた後にサーバーの負荷を減らすために待機
            profile_page_content = fetch_company_profile_page(profile_page_url)
            if profile_page_content:
                company_data = parse_company_profile_page(profile_page_content)
                # Extract company ID from profile page URL
                company_id = profile_page_url.split('/')[-2]
                salary_details_content = fetch_salary_details(company_id)
                if salary_details_content:
                    salary_details = parse_salary_details(salary_details_content)
                    company_data.update(salary_details)
                return company, company_data
    return company, None


# 結果をCSVに保存する関数 (更新されたフィールド名)
def save_results_to_csv(results, filename=fr'C:\Users\100ca\Documents\PyCode\scraping\data\results.csv'):
    with open(filename, 'w', newline='', encoding='utf-8') as csvfile:
        fieldnames = ['company', 'salary', 'overtime', 'salary_25_29', 'salary_30_34', 'salary_35_39', 'salary_40_44', 'salary_45_49', 'salary_50_54', 'salary_55_59', 'salary_60_up']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

        writer.writeheader()
        for company, data in results.items():
            if data:
                writer.writerow({**{'company': company}, **data})

# 並列処理で各企業に対してスクレイピングを実行
with concurrent.futures.ThreadPoolExecutor(max_workers=5) as executor:
    future_to_company = {executor.submit(fetch_and_parse_company_data, company): company for company in companies}
    results = {}
    for future in concurrent.futures.as_completed(future_to_company):
        company = future_to_company[future]
        try:
            data = future.result()
            results[data[0]] = data[1]
        except Exception as exc:
            print(f'{company} generated an exception: {exc}')

# 結果をCSVに保存
save_results_to_csv(results)


# 結果の出力 (更新されたフィールド名)
for company, data in results.items():
    if data:
        print(f"{company}: 年収={data.get('salary', '情報なし')}, 残業時間={data.get('overtime', '情報なし')}, " +
              f"25-29歳平均年収={data.get('salary_25_29', '情報なし')}, 30-34歳平均年収={data.get('salary_30_34', '情報なし')}, " +
              f"35-39歳平均年収={data.get('salary_35_39', '情報なし')}, 40-44歳平均年収={data.get('salary_40_44', '情報なし')}, " +
              f"45-49歳平均年収={data.get('salary_45_49', '情報なし')}, 50-54歳平均年収={data.get('salary_50_54', '情報なし')}, " +
              f"55-59歳平均年収={data.get('salary_55_59', '情報なし')}, 60歳以上平均年収={data.get('salary_60_up', '情報なし')}")

KPMGコンサルティング: 年収=915, 残業時間=47, 25-29歳平均年収=659, 30-34歳平均年収=908, 35-39歳平均年収=902, 40-44歳平均年収=1164, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
EYストラテジー・アンド・コンサルティング: 年収=963, 残業時間=50, 25-29歳平均年収=672, 30-34歳平均年収=899, 35-39歳平均年収=895, 40-44歳平均年収=1581, 45-49歳平均年収=1179, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
アクセンチュア: 年収=797, 残業時間=41, 25-29歳平均年収=614, 30-34歳平均年収=843, 35-39歳平均年収=950, 40-44歳平均年収=1057, 45-49歳平均年収=1000, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
マッキンゼー・アンド・カンパニー: 年収=1240, 残業時間=75, 25-29歳平均年収=748, 30-34歳平均年収=1325, 35-39歳平均年収=1644, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ベイン・アンド・カンパニー: 年収=---, 残業時間=--, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
マーサージャパン: 年収=959, 残業時間=44, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ゴールドマン・サックス: 年収=1497, 残業時間=66, 25-29歳平均年収=1183, 30-34歳平均年収=1739, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=1270, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
モルガン・スタンレー: 年収=671, 残業時間=32, 25-29歳平均年収=509, 30-34歳平均年収=637, 35-39歳平均年収=906, 40-44歳平均年収=631, 45-49歳平均年収=1063, 50-54歳平均年収=情報なし, 55-59歳平均年収=1100, 60歳以上平均年収=情報なし
バークレイズ: 年収=---, 残業時間=--, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
シティグループ: 年収=1278, 残業時間=59, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=1956, 40-44歳平均年収=情報なし, 45-49歳平均年収=940, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
BNPパリバ: 年収=---, 残業時間=--, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
アフラック生命保険: 年収=640, 残業時間=30, 25-29歳平均年収=546, 30-34歳平均年収=610, 35-39歳平均年収=667, 40-44歳平均年収=793, 45-49歳平均年収=759, 50-54歳平均年収=811, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
AIGジャパン・ホールディングス: 年収=---, 残業時間=--, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
メットライフ生命保険: 年収=679, 残業時間=30, 25-29歳平均年収=471, 30-34歳平均年収=576, 35-39歳平均年収=608, 40-44歳平均年収=766, 45-49歳平均年収=813, 50-54歳平均年収=885, 55-59歳平均年収=709, 60歳以上平均年収=情報なし
プルデンシャル生命保険: 年収=865, 残業時間=50, 25-29歳平均年収=628, 30-34歳平均年収=765, 35-39歳平均年収=1012, 40-44歳平均年収=1060, 45-49歳平均年収=1152, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
エヌエヌ生命保険: 年収=769, 残業時間=34, 25-29歳平均年収=555, 30-34歳平均年収=710, 35-39歳平均年収=932, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
マニュライフ生命保険: 年収=553, 残業時間=26, 25-29歳平均年収=350, 30-34歳平均年収=392, 35-39歳平均年収=636, 40-44歳平均年収=609, 45-49歳平均年収=678, 50-54歳平均年収=621, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
中外製薬: 年収=1060, 残業時間=28, 25-29歳平均年収=700, 30-34歳平均年収=845, 35-39歳平均年収=996, 40-44歳平均年収=1126, 45-49歳平均年収=1360, 50-54歳平均年収=1312, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ジョンソン・エンド・ジョンソン: 年収=845, 残業時間=40, 25-29歳平均年収=619, 30-34歳平均年収=750, 35-39歳平均年収=987, 40-44歳平均年収=989, 45-49歳平均年収=1008, 50-54歳平均年収=971, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
アストラゼネカ: 年収=790, 残業時間=35, 25-29歳平均年収=588, 30-34歳平均年収=719, 35-39歳平均年収=797, 40-44歳平均年収=863, 45-49歳平均年収=1060, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
サノフィ: 年収=960, 残業時間=26, 25-29歳平均年収=情報なし, 30-34歳平均年収=713, 35-39歳平均年収=945, 40-44歳平均年収=967, 45-49歳平均年収=1078, 50-54歳平均年収=942, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ファイザー: 年収=1158, 残業時間=16, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=878, 40-44歳平均年収=情報なし, 45-49歳平均年収=1072, 50-54歳平均年収=1300, 55-59歳平均年収=1225, 60歳以上平均年収=情報なし
ノバルティスファーマ: 年収=970, 残業時間=26, 25-29歳平均年収=情報なし, 30-34歳平均年収=704, 35-39歳平均年収=898, 40-44歳平均年収=983, 45-49歳平均年収=1149, 50-54歳平均年収=1261, 55-59歳平均年収=1213, 60歳以上平均年収=情報なし
イーライリリー: 年収=862, 残業時間=27, 25-29歳平均年収=582, 30-34歳平均年収=768, 35-39歳平均年収=791, 40-44歳平均年収=983, 45-49歳平均年収=1071, 50-54歳平均年収=1153, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
バイエル: 年収=962, 残業時間=29, 25-29歳平均年収=620, 30-34歳平均年収=846, 35-39歳平均年収=793, 40-44歳平均年収=1011, 45-49歳平均年収=1193, 50-54歳平均年収=1076, 55-59歳平均年収=1250, 60歳以上平均年収=情報なし
GEジャパン: 年収=795, 残業時間=35, 25-29歳平均年収=550, 30-34歳平均年収=720, 35-39歳平均年収=717, 40-44歳平均年収=829, 45-49歳平均年収=771, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ロクシタンジャポン: 年収=338, 残業時間=19, 25-29歳平均年収=269, 30-34歳平均年収=356, 35-39歳平均年収=388, 40-44歳平均年収=444, 45-49歳平均年収=494, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ネスレ日本: 年収=633, 残業時間=30, 25-29歳平均年収=488, 30-34歳平均年収=650, 35-39歳平均年収=563, 40-44歳平均年収=情報なし, 45-49歳平均年収=718, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ユニリーバ・ジャパン: 年収=---, 残業時間=--, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ルイ・ヴィトンジャパン: 年収=529, 残業時間=20, 25-29歳平均年収=417, 30-34歳平均年収=468, 35-39歳平均年収=526, 40-44歳平均年収=573, 45-49歳平均年収=559, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ブリティッシュ・アメリカン・タバコ・ジャパン: 年収=661, 残業時間=20, 25-29歳平均年収=564, 30-34歳平均年収=586, 35-39歳平均年収=565, 40-44歳平均年収=855, 45-49歳平均年収=658, 50-54歳平均年収=700, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
ダウ・ケミカル日本: 年収=---, 残業時間=--, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
デュポン: 年収=---, 残業時間=--, 25-29歳平均年収=情報なし, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
BASFジャパン: 年収=752, 残業時間=27, 25-29歳平均年収=540, 30-34歳平均年収=606, 35-39歳平均年収=723, 40-44歳平均年収=790, 45-49歳平均年収=819, 50-54歳平均年収=情報なし, 55-59歳平均年収=956, 60歳以上平均年収=情報なし
日本ロレアル: 年収=549, 残業時間=26, 25-29歳平均年収=504, 30-34歳平均年収=479, 35-39歳平均年収=483, 40-44歳平均年収=723, 45-49歳平均年収=721, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
Google: 年収=1085, 残業時間=32, 25-29歳平均年収=761, 30-34歳平均年収=1027, 35-39歳平均年収=1200, 40-44歳平均年収=1200, 45-49歳平均年収=1667, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
Apple Japan: 年収=643, 残業時間=17, 25-29歳平均年収=550, 30-34歳平均年収=564, 35-39歳平均年収=564, 40-44歳平均年収=736, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
日本マイクロソフト: 年収=1255, 残業時間=37, 25-29歳平均年収=934, 30-34歳平均年収=1039, 35-39歳平均年収=1077, 40-44歳平均年収=1265, 45-49歳平均年収=1490, 50-54歳平均年収=1811, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
アマゾンジャパン: 年収=733, 残業時間=29, 25-29歳平均年収=534, 30-34歳平均年収=685, 35-39歳平均年収=668, 40-44歳平均年収=900, 45-49歳平均年収=1023, 50-54歳平均年収=897, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
LINE: 年収=690, 残業時間=26, 25-29歳平均年収=560, 30-34歳平均年収=631, 35-39歳平均年収=770, 40-44歳平均年収=833, 45-49歳平均年収=848, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
セールスフォース・ドットコム: 年収=1140, 残業時間=37, 25-29歳平均年収=683, 30-34歳平均年収=963, 35-39歳平均年収=1300, 40-44歳平均年収=1316, 45-49歳平均年収=2011, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
日本オラクル: 年収=857, 残業時間=32, 25-29歳平均年収=643, 30-34歳平均年収=751, 35-39歳平均年収=854, 40-44歳平均年収=697, 45-49歳平均年収=950, 50-54歳平均年収=1112, 55-59歳平均年収=1290, 60歳以上平均年収=情報なし
ブルームバーグ・エル・ピー: 年収=819, 残業時間=24, 25-29歳平均年収=846, 30-34歳平均年収=情報なし, 35-39歳平均年収=情報なし, 40-44歳平均年収=情報なし, 45-49歳平均年収=情報なし, 50-54歳平均年収=情報なし, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし
日本ヒューレット・パッカード: 年収=854, 残業時間=33, 25-29歳平均年収=568, 30-34歳平均年収=648, 35-39歳平均年収=649, 40-44歳平均年収=763, 45-49歳平均年収=870, 50-54歳平均年収=1016, 55-59歳平均年収=1074, 60歳以上平均年収=1708
シスコシステムズ: 年収=1116, 残業時間=37, 25-29歳平均年収=814, 30-34歳平均年収=情報なし, 35-39歳平均年収=1093, 40-44歳平均年収=1094, 45-49歳平均年収=1156, 50-54歳平均年収=1356, 55-59歳平均年収=情報なし, 60歳以上平均年収=情報なし

In [7]:
data

,company,salary,overtime,salary_25_29,salary_30_34,salary_35_39,salary_40_44,salary_45_49,salary_50_54,salary_55_59,salary_60_up
0,KPMGコンサルティング,915,47,659.0,908.0,902.0,1164.0,NaN,NaN,NaN,NaN
1,EYストラテジー・アンド・コンサルティング,963,50,672.0,899.0,895.0,1581.0,1179.0,NaN,NaN,NaN
2,アクセンチュア,797,41,614.0,843.0,950.0,1057.0,1000.0,NaN,NaN,NaN
3,マッキンゼー・アンド・カンパニー,1240,75,748.0,1325.0,1644.0,NaN,NaN,NaN,NaN,NaN
4,ベイン・アンド・カンパニー,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,マーサージャパン,959,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ゴールドマン・サックス,1497,66,1183.0,1739.0,NaN,NaN,1270.0,NaN,NaN,NaN
7,モルガン・スタンレー,671,32,509.0,637.0,906.0,631.0,1063.0,NaN,1100.0,NaN
8,バークレイズ,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,シティグループ,1278,59,NaN,NaN,1956.0,NaN,940.0,NaN,NaN,NaN
10,BNPパリバ,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,アフラック生命保険,640,30,546.0,610.0,667.0,793.0,759.0,811.0,NaN,NaN
12,AIGジャパン・ホールディングス,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,メットライフ生命保険,679,30,471.0,576.0,608.0,766.0,813.0,885.0,709.0,NaN
14,プルデンシャル生命保険,865,50,628.0,765.0,1012.0,1060.0,1152.0,NaN,NaN,NaN
15,エヌエヌ生命保険,769,34,555.0,710.0,932.0,NaN,NaN,NaN,NaN,NaN
16,マニュライフ生命保険,553,26,350.0,392.0,636.0,609.0,678.0,621.0,NaN,NaN
17,中外製薬,1060,28,700.0,845.0,996.0,1126.0,1360.0,1312.0,NaN,NaN
18,ジョンソン・エンド・ジョンソン,845,40,619.0,750.0,987.0,989.0,1008.0,971.0,NaN,NaN
19,アストラゼネカ,790,35,588.0,719.0,797.0,863.0,1060.0,NaN,NaN,NaN
20,サノフィ,960,26,NaN,713.0,945.0,967.0,1078.0,942.0,NaN,NaN
21,ファイザー,1158,16,NaN,NaN,878.0,NaN,1072.0,1300.0,1225.0,NaN
22,ノバルティスファーマ,970,26,NaN,704.0,898.0,983.0,1149.0,1261.0,1213.0,NaN
23,イーライリリー,862,27,582.0,768.0,791.0,983.0,1071.0,1153.0,NaN,NaN
24,バイエル,962,29,620.0,846.0,793.0,1011.0,1193.0,1076.0,1250.0,NaN
25,GEジャパン,795,35,550.0,720.0,717.0,829.0,771.0,NaN,NaN,NaN
26,ロクシタンジャポン,338,19,269.0,356.0,388.0,444.0,494.0,NaN,NaN,NaN
27,ネスレ日本,633,30,488.0,650.0,563.0,NaN,718.0,NaN,NaN,NaN
28,ユニリーバ・ジャパン,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,ルイ・ヴィトンジャパン,529,20,417.0,468.0,526.0,573.0,559.0,NaN,NaN,NaN
30,ブリティッシュ・アメリカン・タバコ・ジャパン,661,20,564.0,586.0,565.0,855.0,658.0,700.0,NaN,NaN
31,ダウ・ケミカル日本,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,デュポン,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,BASFジャパン,752,27,540.0,606.0,723.0,790.0,819.0,NaN,956.0,NaN
34,日本ロレアル,549,26,504.0,479.0,483.0,723.0,721.0,NaN,NaN,NaN
35,Google,1085,32,761.0,1027.0,1200.0,1200.0,1667.0,NaN,NaN,NaN
36,Apple Japan,643,17,550.0,564.0,564.0,736.0,NaN,NaN,NaN,NaN
37,日本マイクロソフト,1255,37,934.0,1039.0,1077.0,1265.0,1490.0,1811.0,NaN,NaN
38,アマゾンジャパン,733,29,534.0,685.0,668.0,900.0,1023.0,897.0,NaN,NaN
39,LINE,690,26,560.0,631.0,770.0,833.0,848.0,NaN,NaN,NaN
40,セールスフォース・ドットコム,1140,37,683.0,963.0,1300.0,1316.0,2011.0,NaN,NaN,NaN
41,日本オラクル,857,32,643.0,751.0,854.0,697.0,950.0,1112.0,1290.0,NaN
42,ブルームバーグ・エル・ピー,819,24,846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,日本ヒューレット・パッカード,854,33,568.0,648.0,649.0,763.0,870.0,1016.0,1074.0,1708.0
44,シスコシステムズ,1116,37,814.0,NaN,1093.0,1094.0,1156.0,1356.0,NaN,NaN